@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root{
  font-size: 15px;
}

body {
  background-color: #161616;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 768px){
  :root{
    font-size: 12px;
  }
}

@media (max-width: 1250px){
  :root{
    font-size: 14px;
  }
}

@media (max-width: 480px){
}
